02_implementation/01_datasets/annular_lin_train_validation.mat
02_implementation/01_datasets/annular_lin_validation_20_ramp.mat
02_implementation/01_datasets/annular_nl_train_validation.mat
02_implementation/01_datasets/annular_nl_validation_20_ramp.mat
02_implementation/01_datasets/gauss_lin_train_validation.mat
02_implementation/01_datasets/gauss_nl_train_validation.mat
